/* Variables declration for the application */

$white-color: #ffffff;
$black-text-color: #333333;

$container-bg-color: #cccccc;
$order-book-bg-color: #1b272d;
$order-book-border-color: #273740;

$full-book-button-color: #597fa5;
$real-time-active-color: #217a48;

$success-toast-color: #217a48;
$error-toast-color: #F26A70;
